.table{
  width: 98%;
  margin-right: 3;
}
thead{
  padding: 0px;
  margin:0px;
}
button{
 margin-right: 5px;
 padding: 0px;
}
.btn-danger{
  margin-left:5px ;
}
tr{
  margin: 40px;
  padding: 4px;
}
 tr {
  border-color: inherit;
  border-style: solid;
  border-width: 2px;
}